* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pesquisa-container{
  position: relative;
}

label {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 450px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;
 padding-right: 40px;
}
button {
  position: absolute;
  top: 0;
  right: 0;
  height: 80%;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
 
}

#canto, #canto1 {
  position: fixed;
  opacity: 0.5;
}

#canto {
  top: 20%;
  right: 0;
}

#canto1 {
  bottom: 55px;
  left: 0;
}



